<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleClient.css">
    <title>Client page</title>
</head>
<body>	
    <h1>Bonjour,  <span th:text="${client}" /></h1>
    
    <a href="./home">logout</a>
    <br> 
    <hr>
    <h2>Liste des commandes</h2>
    <table border="1">
        <tr><th>Id</th><th>Nom</th><th></th></tr>
        <tr th:each="commande : ${commandes}">
        	<td th:text="${commande.id}"/>
        	<td th:text="${commande.nom}"/>
        	<td> <a th:href="@{'/store/client/commande/' + ${commande.id}}">edit</a> </td> 
        </tr>
    </table>
    <hr>
    <h2>Créer une commande	</h2>
    <form action="/store/client/createCommand" method="post">
        Nom : <input name="nom">
        <input type="submit">
    </form>
  
</body>
</html>